.categoria {
    font-size: x-large;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.nav {
    --bs-nav-link-hover-color: #ff0015;
}

.nav-link {
    color: black;
}

.btn-1 {
    box-sizing: border-box;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 1px;
    padding: 6.2px 31px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    justify-content: center;
  }
  .btn-1:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

.btn-comprar {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-comprar:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.fondo-categorias {
    background-color: rgba(107, 25, 0, 0.041)
}

.pagination {
    justify-content: center;
    --bs-pagination-color:black;
    --bs-pagination-hover-color:#ff0015;
    padding: 10px;
    margin: 10px;
}

.fondo-h1{
    background-image: url(https://i.pinimg.com/736x/24/81/88/248188b2f0949bee507ad52ab168b3b6.jpg);
    color:white;
    text-shadow: 4px 4px 2px black;
}

.zoom {
    transition: all 0.35s ease-in-out;           
    cursor: zoom-in;  
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus { 
    transform: scale(1.5);    
    position:relative;      
    z-index:100;  
    }